<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/default.css" type="text/css">
</head>
<body>
  <div class="content-container">
    <div class="headfoot header-bar">
      <a id="logo" href="/index.html">Ennui, Suffused</a>
      <span id="random-phrase">Loading randomness...</span>
    </div>
    <div id="main-content">
      {{ content }}
    </div>
    <div class="headfoot footer-bar">
      <table>
        <thead>
          <th>Me Elsewhere</th>
          <th>Projects</th>
          <th>Other Stuff I Love</th>
        </thead>
        <tbody>
          <td>
            <a href="https://github.com/ohnoimdead">Github</a><br>
            <a href="https://twitter.com/ohnoimdead">Twitter</a><br>
            <a href="https://www.facebook.com/ohnoimdead">Facebook</a><br>
            <a href="http://www.linkedin.com/in/treshenry">Linkedin</a><br>
            <a href="http://www.youtube.com/ohnoimdead">YouTube</a>
          </td>
          <td>
            <a href="http://nebula.com">Nebula</a><br>
            <a href="http://jackline.net/">jackline.net</a><br>
            <a href="/hrzn.html">hrzn.us</a><br>
            <a href="http://beta.fancyporkproducts.com/hank/index.html">Art</a>
          </td>
          <td>
            <a href="http://www.ponyloaf.com/lohai/">Lohai</a><br>
            <a href="http://tosaytheleastgameshow.com/">To Say the Least</a><br>
            <a href="http://seattlesailing.com/">Seattle Sailing Club</a>
          </td>
        </tbody>
      </table>
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
    var TH = {
      random_phrases: [
        "Now entirely un-dynamic!",
        "Sissy That Walk",
        "¡ESCÁNDALO!"
      ],
      init: function() {
        document.getElementById("random-phrase").innerText =
          TH.random_phrases[Math.round(Math.random() * (TH.random_phrases.length - 1))];
      }
    };

    TH.init();
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2958065-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
